@use 'mixins';

.container {
    h3 {
        text-align: center;
    }

    img {
        border-radius: 40px;
        width: 80px;
        height: 80px;
      }

    .imageContainer {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 40px;
    }
}